
<h4 class="header">Listes responsable</h4>
<div class="card-panel">
    <div class="input-field col s6" >
        <i class="material-icons prefix">search</i>
        <input type="text" class="validate" ng-model="byInput">
    </div>
    <table class="responsive-table">
        <thead>
        <tr>
            <th data-field="id" class="grey-text text-darken-2">username</th>
            <th data-field="name" class="grey-text text-darken-2">role</th>
            <th>suppression</th>
            <th>edition</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-if="users.length === 0">
            <td style="text-align: center;" colspan="5">
                <h5>Aucune responsable trouvées</h5>
            </td>
        </tr>
        <tr ng-repeat="user in users | filter : byInput">
            <td>{{user.username}}</td>
            <td>{{user.role}}</td>
            <td><a ng-click="deleteUser(user._id)" href="" style="color: #d9534f;"><i class="material-icons">delete</i></a></td>
            <td><a ng-click="editUser(user._id)" href="" style="color: #f0ad4e;"><i class="material-icons">mode_edit</i></a></td>
        </tr>
        </tbody>
    </table>

</div>